@model IndexViewModel
@{
  List<SelectListItem> list = new List<SelectListItem>();

    foreach(var category in Model.Categories)
    {
      list.Add(new SelectListItem{ Text = category.CategoryName, Value = category.Id.ToString()});
    }
}

 <form method="post" asp-action="Index">
   <input type="text" placeholder="Search..." name="searchedName" >
   <button class="btn btn-primary" type="submit">Go</button>
 </form>

<br><br>

<table class="table table-striped mainTable" id="main-table">
    
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
    </tr>
  </thead>

  <tbody>
   @if(Model.Transactions != null)
   {
    @foreach(var transaction in Model.Transactions)
    {
      <tr>
        <td class="transaction-date">@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
        <td class="transaction-name">@transaction.Name</td>
        <td class="transaction-amount">@transaction.Amount</td>
        @if(@transaction.CategoryId == 1)
        {
          <td class="transaction-category">Business</td>
        }
        else if(@transaction.CategoryId == 2)
        {
          <td class="transaction-category">Food</td>
        }
        else if(@transaction.CategoryId == 3)
        {
          <td class="transaction-category">Personal</td>
        }
        else 
        {
          <td class="transaction-category">Other</td>
        }
        <td>
          <button type="button" class="openUpdateTransactionModalBtn btn btn-primary" asp-controller="Home" asp-action="EditTransaction">Edit</button>
          <button type="button" class="btn btn-danger" asp-controller="Home" asp-action="DeleteTransaction">Delete</button>
        </td>
      </tr>
    }
   }

   @if(Model.SearchedTransactions != null)
   {
    foreach(var transaction in Model.SearchedTransactions)
    {
      <tr>
        <td>@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
        <td>@transaction.Name</td>
        <td>@transaction.Amount</td>
        @if(@transaction.CategoryId == 1)
        {
          <td>Business</td>
        }
        else if(@transaction.CategoryId == 2)
        {
          <td>Food</td>
        }
        else if(@transaction.CategoryId == 3)
        {
          <td>Personal</td>
        }
        else 
        {
          <td>Other</td>
        }
        <td>
          <form method="post" action="">
           
            
          </form>
        </td>
      </tr>
    }
   }
  </tbody>
</table>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggleLabel">Update Transaction</h5>
    </div>
    <div class="modal-body">
      <form method="post" asp-action="NewTransaction">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="col addTransactionPage">
              <label class="sr-only" for="">Choose Category: &nbsp;</label>
              @Html.DropDownListFor(model => model.SelectedCategory, list)
            </div>
            <br><hr class="newTransactionBreak">
            <div class="col addTransactionPage">
              <label class="sr-only" for="">Name: &nbsp</label>
              <input type="text" id="name" name="Name" size="12">
            </div>
            <br><hr class="newTransactionBreak">
            <div class="col addTransactionPage">
              <label class="sr-only" for="">Amount: &nbsp</label>
              <input type="text" id="amount" name="Amount" size="12">
            </div>
            <br><hr class="newTransactionBreak">
          </div>
          <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>



