@model IndexViewModel
@{
    List<SelectListItem> list = new List<SelectListItem>();

    foreach (var category in Model.Categories)
    {
        list.Add(new SelectListItem
        {
            Text = category.CategoryName,
            Value = category.Id.ToString()
        });
    }
}





<span class="top-part">
    <form class="searchForm" method="post" asp-action="Index">
        <input type="text" placeholder="Search..." name="searchedName">
        <button class="btn btn-primary" type="submit">Go</button>
    </form>
    <a class="addButton btn btn-success" asp-controller="Transaction" asp-action="CreateTransaction">+</a>
</span>

<br><br>

<table class="table table-striped mainTable" id="main-table">

    <thead class="tablehead">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
    </tr>
    </thead>

    <tbody class="tablebody">
    @if (Model.Transactions != null)
    {
        @foreach (var transaction in Model.Transactions)
        {
            <tr class="tablerow">
                <td class="transaction-date">@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
                <td class="transaction-name">@transaction.Name</td>
                <td class="transaction-amount">@transaction.Amount</td>
                @if (@transaction.CategoryId == 1)
                {
                    <td class="transaction-category">Business</td>
                }
                else if (@transaction.CategoryId == 2)
                {
                    <td class="transaction-category">Food</td>
                }
                else if (@transaction.CategoryId == 3)
                {
                    <td class="transaction-category">Personal</td>
                }
                else
                {
                    <td class="transaction-category">Other</td>
                }
                <td>
                    <a type="button"
                            class="btn btn-primary"
                            data-ajax="true"

                            data-ajax-mode="replace"
                            data-ajax-update="#modal-body"
                            href='@Url.Action("EditTransaction", "Transaction", new { id = transaction.Id })'
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Edit
                    </a>
                    <a type="button" class="btn btn-danger" asp-controller="Transaction" asp-action="DeleteTransaction" asp-route-transactionId="@transaction.Id">Delete</a>
                </td>
            </tr>
        }
    }

    @if (Model.SearchedTransactions != null)
    {
        foreach (var transaction in Model.SearchedTransactions)
        {
            <tr class="tablerow">
                <td>@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
                <td>@transaction.Name</td>
                <td>@transaction.Amount</td>
                @if (@transaction.CategoryId == 1)
                {
                    <td>Business</td>
                }
                else if (@transaction.CategoryId == 2)
                {
                    <td>Food</td>
                }
                else if (@transaction.CategoryId == 3)
                {
                    <td>Personal</td>
                }
                else
                {
                    <td>Other</td>
                }
                <td>
                    <form method="post" action="">

                    </form>
                </td>
            </tr>
        }
    }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                Loading...
            </div>
           
        </div>
    </div>
</div>