@model IndexViewModel
@{
  
}

 <form method="post" asp-action="Index">
   <input type="text" placeholder="Search..." id="searchName" >
   <button class="btn btn-primary" type="submit">Go</button>
 </form>

<br><br>

<table class="table table-striped mainTable" id="main-table">
    
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
    </tr>
  </thead>

  <tbody>
   @if(Model.Transactions != null)
   {
    @foreach(var transaction in Model.Transactions)
    {
      <tr>
        <td>@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
        <td>@transaction.Name</td>
        <td>@transaction.Amount</td>
        @if(@transaction.CategoryId == 1)
        {
          <td>Business</td>
        }
        else if(@transaction.CategoryId == 2)
        {
          <td>Food</td>
        }
        else if(@transaction.CategoryId == 3)
        {
          <td>Personal</td>
        }
        else 
        {
          <td>Other</td>
        }
        <td>
          <button type="button" class="btn btn-primary" asp-controller="Home" asp-action="EditTransaction">Edit</button>
          <button type="button" class="btn btn-danger" asp-controller="Home" asp-action="DeleteTransaction">Delete</button>
        </td>
      </tr>
    }
   }

   @if(Model.SearchedTransactions != null)
   {
    foreach(var transaction in Model.SearchedTransactions)
    {
      <tr>
        <td>@transaction.Date.ToString("MM/dd/yyyy h:mm")</td>
        <td>@transaction.Name</td>
        <td>@transaction.Amount</td>
        @if(@transaction.CategoryId == 1)
        {
          <td>Business</td>
        }
        else if(@transaction.CategoryId == 2)
        {
          <td>Food</td>
        }
        else if(@transaction.CategoryId == 3)
        {
          <td>Personal</td>
        }
        else 
        {
          <td>Other</td>
        }
        <td>
          <button type="button" class="btn btn-primary" asp-controller="Home" asp-action="EditTransaction">Edit</button>
          <button type="button" class="btn btn-danger" asp-controller="Home" asp-action="DeleteTransaction">Delete</button>
        </td>
      </tr>
    }
   }
  </tbody>
</table>